.card-block{
    text-align: center;
    margin: 150px;
    font-weight: bold;
    border: 3px solid black;
}

.btn{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    background: rgb(248, 164, 164);
}
.btn:hover{
    background: red;
}

.btn:active{
    background: yellow;
}


.text-combination{
    font-size: 30px;
    padding-top: 20px;
}

